<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FOREIGN IMPORTS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LOCAL IMPORTS -->
    <link rel="stylesheet" href="/stylesheets/library.css" type="text/css">
    <script src="/javascripts/library.js"></script>
    <script src="/javascripts/common.js"></script>


    <script>
        var books = "<%= books %>"
        var openCommand = "<%= open %>"
    </script>

    <title>Libgen Desktop</title>
</head>

<body>
    <div id="main">
        <%- include('navbar.ejs') %>
        <div id="content">
            <header>
                Library
                <input type="text" id="searchLibrary" onkeyup="search()" placeholder="Search for books in your library..">
            </header>

            <div id="library">
                <% Object.keys(books).forEach(function(key) { %>
                <div id='result-card' class="result-card">
                    <div class="cover">
                        <figure class="bookcover">
                            <img class='cover-img' src='<%= books[key].itemInfo.coverLink %>' alt="bookcover">
                        </figure>
                    </div>
                    <div class="details-wrapper">
                        <div class="book-details">
                            <p class="book-detail bold">
                                <%= books[key].itemInfo.bookName %>
                            </p>
                            <p class="book-detail">
                                <%= books[key].itemInfo.author %>
                            </p>
                    
                    
                        </div>
                        <div class='open-wrapper'>
                            
                            <i onclick="post('/library/',openCommand,'<%= books[key].itemInfo.downloadPath %><%= books[key].itemInfo.filename %>');notification('opening')" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <i onclick="post('/delete/', 'rm', '<%= books[key].itemInfo.filename %>')" class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                        
                        </div>

                </div>
                <% }) %>

                
            </div>
        </div>


    </div>

</body>
</html>