<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- IMPORTS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/search.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script>
        var books = "<%= books %>"
    </script>

    <title>Libgen Desktop</title>

    <script>
 function post(path, filename, filetype, link,filesize,author,coverlink,bookname) {
    filename=filename.trim()
    filename = filename.replace(':', '')
    filename = filename.replace('?', '')
    filename = filename.replace('!', '')
    filename = filename.replace(new RegExp(" ",'g'), '_')
    filename=filename+'.'+filetype
    $.ajax(path, {
    type: 'POST',
    data: {
      filename: filename,
      dl: link,
      filetype:filetype,
      filesize:filesize,
      author:author,
      coverlink:coverlink,
      bookname:bookname
      
    }
  })
 }
    </script>
</head>

<body>
    <div id="main">
        <%- include('navbar.ejs') %>
        <div id="content">
            <div id="search-wrapper">
                <form>
                    <input type="text" name="query" id="search-query" placeholder="Search for books...">
                    <button onclick='getSearchTerm()' id='search-btn' name="search-btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div id="results-wrapper">
                <% for(var i=0; i < books.length; i++) { %>
                <div class="result-card">
                    <div class="cover">
                        <figure class="bookcover">
                            <img class='cover-img' style='z-index: 5;' src='<%= books[i].coverLink %>' alt="bookcover">
                        </figure>
                    </div>
                    <div class="details-wrapper">
                        <div class="book-details">
                            <p class="book-detail bold">
                                <%= books[i].title %>
                            </p>
                            <p class="book-detail">
                                <%= books[i].author %>
                            </p>
                            <p class="book-detail">
                                <%= books[i].year %>
                            </p>
                            <p class="book-detail">
                                <%= books[i].pages %> pages
                            </p>
                            <p class="book-detail">
                                <%= books[i].language %>
                            </p>
                            <p class="book-detail">Filetype: <%= books[i].filetype %>
                            </p>
                            <p class="book-detail">Filesize: <%= books[i].filesize %>
                            </p>
                    
                    
                        </div>
                        <div class='download-wrapper'>
                            <i onclick="post('/download',
                            '<%= books[i].title %>',
                            '<%= books[i].filetype %>',
                            '<%= books[i].downloadLink %>',
                            '<%= books[i].filesize %>',
                            '<%= books[i].author %>',
                            '<%= books[i].coverLink %>',
                            '<%= books[i].title %>')",
                             class="fa fa-download"></i>
                        </div>
                        
                        </div>

                </div>
                <% } %>

                
            </div>
        </div>


    </div>

</body>
</html>